body{
    background: rgb(233,89,0);
    background: linear-gradient(309deg, rgba(233,89,0,1) 3%, rgba(60,41,34,1) 28%, rgba(0,0,0,1) 50%, rgba(47,39,27,1) 71%, rgba(246,165,4,1) 98%);
}

style {
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
}

html {
    font-family: 'Shadows Into Light', Verdana, Tahoma, Geneva, sans-serif;
}

p {
    color:blanchedalmond;
}

div {
    text-align:center;
    font-size: medium;
    
}

div#bandeau {
        width:1500px;
        height:50px;
        background-color:rgba(255, 175, 0, 96);
}



h1{
    color: black;
    text-align: center;
}

h2{
    color:rgba(245, 74, 6, 0.89);
}

h3{
    color:rgba(245, 74, 6, 0.89);
}
h4{
    color:darkorange;
}

h5{
    color:darkorange
}

h6{
    color:darkorange
}

strong{
    color:blanchedalmond;
}

li{
    color:blanchedalmond;
}

header{
    border-width: medium;
    border-style: ridge;
    border-color: rgba(246,149,13,1) ;
}

ul{
    list-style-type:circle
}

a{
    text-decoration: none;
    color:rgba(245, 53, 6, 0.89);
}

mark{
    background-color:darkorange;
}

